body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-text h1 {
    font-size: 24px;
}

.orange-box {
    background-color: orange; 
    width: 50px; /* Aumento del tamaño del cuadro del logo */
    height: 50px; /* Aumento del tamaño del cuadro del logo */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; /* Aumento del tamaño del icono */
    color: black;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
    background-color: white;
    padding: 50px; /* Aumento del espacio de relleno */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-container img {
    border-radius: 10px;
    margin-right: 50px;
    height: 400px;
    width: 350px;
    object-fit: cover;
}

.info p, .info h4 {
    margin: 10px 0;
    color: #333; /* Cambio de color a un tono más oscuro para mejor legibilidad */
}

.info p {
    font-weight: bold;
    font-size: 18px; /* Reducción del tamaño del texto de la descripción */
}

.info h4 {
    font-weight: bold;
    color: #4CAF50; /* Cambio de color para destacar la recompensa */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.sesion-usuario {
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 18px;
    padding: 5px 30px;
    font-size: 16px;
    cursor: pointer;
}

.sesion-usuario i {
    margin-right: 10px; 
}

.header-eslogan {
    background-color: #4CAF50;
    color: white;
    padding: 25px;
    text-align: center;
}

#animal-name{
    font-size: 50px;
    padding-bottom: 20px;
}