body {
    background-color: orange;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.contenedor {
    background-color: white;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    border: 1px solid black;
    height: 580px;
    text-align: left;

}

.logo{
    width: 400px;
    height: 500px;
    margin-left: 120px;
}


label {
    font-weight: bold;
    margin-top: 10px; 
    display: block;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    flex-basis: 30%; 
    padding-right: 10px;
    margin-left: 16px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.telefono input[type="tel"] {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 16px;
    width: 250px; 
}

.correo input[type="email"],
.contraseña input[type="password"] {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 16px;
    width: 250px; 
}

button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: 1px 1px black;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff9900;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 120px;
    width: 200px;
    
}

.registro-google{
    width: 330px;
    text-align: center;
    color: black;
    background-color: #d8d8c0;
    margin: 0 auto; 
    padding: 10px;
    margin-top: 15px;
    margin-left: 60px;


}

h1 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.nombre-apellido {
    display: flex;
    justify-content: space-between;
}

.botones {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.inicio-sesion button, .registrarse button {
    background-color: orange;
    color: #000;
    border: none;
    border-radius: 18px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 30px;

}

.registrarse button {
    background-color: white;
    color: black;

}
